*{
    margin: 0;
    padding: 0;
}

form{
    width: 80vw;
    margin: 50px auto;
    border: solid 1px #787288;
    border-radius: 10px;
    textarea{
        width: 100%;
        height: 300px;
        resize: none;
        text-indent: 10px;
        line-height: 30px;
        font-size: 20px;
        border-radius: 10px;
        border: solid 1px #787288;
        outline: none;
        background-color: rgba($color: #cbfaf8c6, $alpha: 1.0);
        color: rgb(142, 139, 139);
        ::placeholder{
            color: white;
        }
    }
    div{
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    select{
        outline: none;
        margin: 0 20px;
    }
    button{
        width: 100px;
        padding: 5px 10px;
        background-color: #787288;
        border-radius: 10px;
    }
}