
body{
    color: gray;
    overflow-y: hidden;
}
header{
    width: 90%;
    height: 60px;
    margin: 0 auto 20px;
    position: absolute;
    left: 5%;
    top: 0;
    border-bottom: solid 1px #d7d4d4;
}

aside h1{
    margin-top: 15px;
}
header ul{
    width: 100%;
    height: 60px;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}
header li{
    width: 18%;
    font-size: 20px;
    line-height: 60px;
    border-bottom: solid 1px transparent;
    text-align: center;
    cursor: pointer;
}
section{
    width: 90%;
    height: 100vh;
    top: 60px;
    margin: 5px auto 0;
    left: 5%;
    overflow-y: hidden;
    position: absolute;
}


::-webkit-scrollbar{
    display: none;
}

section ul{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}
section ul li{
    width: 100%;
    padding: 20px 0;
    margin-top: 10px;
    border-bottom: solid 1px rgb(205, 202, 202);
}
section aside{
    width: 20%;
    height: 100%;
    float: left;
}
section div{
    width: 80%;
    float: right;
}
section div h4 input{
    font-weight: normal;
    width: 300px;
    height: 30px;
    line-height: 30px;
    border: solid 1px gray;
    border-radius: 10px;
    text-align: left;
    text-indent: 10px;
    color: rgb(151, 146, 146);
    cursor: pointer;
    margin-top: 50px;
}

section nav{
    display: block;
}
section nav select{
    /* width: 80px; */
    display: inline-block;
    margin: 10px 20px 20px 0;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border: solid 1px grey;
    border-radius: 10px;
    color: #727988;
    background-color: #f0f3f6;
}
section nav select:last-of-type{
    height: 30px;
    display: inline-block;
    margin-left: 20px;
}
section nav span{
    font-size: 25px;
}
section div label{
    display: block;
    height: 50px;
    font-size: 25px;
    margin-top: 50px;
}
label input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

section div p img{
    /* font-size: 20px; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;
}
section div p a{
    color: rgb(140, 137, 137);
    font-size: 18px;
    margin-left: 20px;
}

section div h5{
    font-weight: normal;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: solid 1px gray;
    border-radius: 10px;
    text-align: center;
    color: rgb(151, 146, 146);
    cursor: pointer;
    margin-top: 50px;
}

div main{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
}
div main p{
    width: 100%;
    display: flex;
    height: 50px;
    line-height: 50px;
}
div main b{
    font-size: 14px;
}
div main p label{
    margin:0 15px;
    font-size: 14px;
}
div main p label input{
    vertical-align: middle;
    margin-right: 5px;
}

article{
    font-family: '微软雅黑';
    margin-top: 20px;
}
article p{
    font-size: 20px;
    margin-bottom: 10px;
}
li article label{
    margin-top: 10px;
    font-size: 20px;
    margin-top: 10px;
}
article h3{
    margin-top: 20px;
}
article span{
    display: inline-block;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px gray;
    background-color: rgb(236, 68, 68);
    color: white;
    text-align: center;
    line-height: 30px;
    margin-left: 15px;
    font-size: 18px;
}

article img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: aliceblue;
    vertical-align: middle;
}


li form h2{
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0;
}
li form textarea{
    width: 500px;
    height: 300px;
    border: solid 2px gray;
    border-radius: 10px;
    background-color: #727988;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    text-indent: 20px;
    resize: none;
    caret-color: white;
    font-size: 20px;
    line-height: 30px;
}
li form textarea::placeholder{
    font-size: 20px;
    color: white;
    text-indent: 20px;
    line-height: 30px;
}

li form input{
    width: 300px;
    height: 40px;
    border: solid 1px gray;
    background-color: #727988;
    border-radius: 10px;
    text-align: left;
    text-indent: 10px;
    line-height: 40px;
    font-size: 20px;
    color: white;
}
li form input::placeholder{
    color: white;
    text-indent: 10px;
    font-size: 20px;
}

li form button{
    width: 100px;
    height: 30px;
    background-color: #727988;
    border-radius: 10px;
    margin-left: 20px;
    color: white;
}

label,input{
    cursor: pointer;
}

.active{
    color: rgb(229, 96, 96);
    border-bottom-color: rgb(229, 96, 96);
}

strong{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    color: white;
    border: solid 2px gray;
    border-radius: 50%;
    background-color: skyblue;
    display: none;
    cursor: pointer;
}